/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: sans-serif;
    margin: 0 auto;
    background: #f8f8f8;
    max-width: 60rem;
}

/* ==============
    MOBILE: Menu
   ============== */

header nav {
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav a {
    flex-grow: 1;
    text-align: center;
    color: white;
    background: #505057;
    padding: 0.3em 0;
    text-decoration: none;
    margin-bottom: 1px;
}

header nav a:hover {
    background-color: #222;
}

header nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main-container {
    overflow: auto;
}

.main {
    margin: 0 5%;
}

/* ==============
    MOBILE: Widget box
   ============== */

.widget-box {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 91%;
    padding: 1em;
    background: #FFFABC;

    margin: 0;
    display: flex;
    flex-direction: column;
}

.widget-box h1 {
    font-weight: normal;
    font-size: 1.4em;
    margin: 0;
}

.widget-box h2 {
    font-weight: normal;
    font-size: 1.1em;
    margin: 0.8em 0 0.2em;
}

.widget-box p {
    margin: 0.1em 0.5em;
}

.widget-box iframe {
    flex-grow: 1;
    border: none;
    width: 100%;
}

.widget-box.now-playing {
    height: 25em;
}

/* ==============
    MOBILE: Content
   ============== */

.widget-docs p {
    margin-bottom: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */
    header nav {
        flex-direction: row;
    }

    header nav a {
        margin-bottom: 0;
    }

    header nav a:not(:last-child) {
        margin-right: 1px;
    }
}

@media (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */
    .header-container {
        box-shadow: 0 0.3em 0.6em #aaa;
        margin: 0 1em;
    }

    .main-container {
        background-color: white;
        margin: 1.5em 1em 4em;
        padding: 1em;
        border-radius: 0.4em;
        box-shadow: 0 0 0.3em 0.3em #ddd;
    }

    .main {
        margin: 0;
    }

    .widget-box {
        float: right;
        width: 40%;
        margin: 0 0 1em 2em;
        box-shadow: 0 0 0.2em 0.2em #e7e7e7;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.github {
    font-family: Calibri, sans-serif;
    border: 1px solid #0a0;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: #060;
    background-color: #dfd;
}

p.github {
    display: inline-block;
    margin: 0.5em 0;
}

code, tt {
    margin: 0 2px;
    padding: 0 0.3em;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-family: Monaco, Consolas, monospace;
    font-size: 0.75em;
    color: #333
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: 0;
    background: transparent
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 0.81em;
    line-height: 1.5;
    overflow: auto;
    padding: 0.3em 0.6em;
    border-radius: 3px
}

pre code {
    background-color: transparent;
    border: 0
}
